venv/
docs/build
*.skyc
*.mp4
*.egg-info
*.Xauthority
*.bash_history
*.cache
*.config
*__pycache__/
*.idea/
docs/source/aiml_virtual
scripts/windflow/foam_files
scripts/windflow/output
aiml_virtual/resources/xml_models/Scene.xml
scripts/examples/*.xml
scripts/*.xml
scripts/demo/*.xml
scripts/demo/*.skyc
scripts/demo/Saves/

