x: 5000 y: 5000 z: 1500 # simulation volume size
maxh: 1000 # highest point of the mountain
world0.png # height map name
[[-250 2325 224] [2250 -2250 108]] # target point list
[[[1. 1. 1.] [1] [10]]] # drone sizes, positions, safe sphere radiuses
[[[-2250 2250 1000] [1000] [1.5] [1.] [-0.3]] [[1000 1900 800] [1000] [2.5] [1.] [0.]] [[-1800 -1900 360] [750] [2.5] [1.] [0.0]]] # parameters of the radars: position, a, exp, height_scale, tilt
